<div class="collapse navbar-collapse" id="main-navigation-toggle">
      
    <nav class="section navigation">
      <ul class="nav nav-pills">
        <li class="active"><a href="/dataset">Datasets</a></li>
        <li><a href="/organization">Organizations</a></li>
        <li><a href="/group">Sectors</a></li>
        <li><a href="bit.ly/dataReq">Request Data</a></li>
      </ul>
    </nav>
     
    <form class="section site-search simple-input" action="/dataset" method="get">
      <div class="field">
        <label for="field-sitewide-search">Search Datasets</label>
        <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="Search">
        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </form>
    
  </div>